.heading-1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
  margin: 0 0 0.5rem;
}

.heading-2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.75rem;
}

.heading-3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 0.75rem;
}

.lead {
  font-size: 1.125rem;
  opacity: 0.9;
}

.muted {
  opacity: 0.7;
}

.text-center {
  text-align: center;
}
